body {
    background-color: #f1f1f1;
}

.slider-frame {
    overflow: hidden;
    width: 100%;
    align-items: center;

}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@-webkit-keyframes slide_animation {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    20% {
        left: 100%;
    }

    30% {
        left: 100%;
    }

    40% {
        left: 200%;
    }

    50% {
        left: 200%;
    }

    60% {
        left: 100%;
    }

    70% {
        left: 100%;
    }

    80% {
        left: 0%;
    }

    90% {
        left: 0%
    }

    100% {
        left: 0%
    }
}

.slide-images {
    width: 300vw;
    height: 100vh;
    margin: 0 0 0 -200vw;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    float: left;
}